/*!
 *  shoplistic.com
 */

@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'variables';

html {
    background-color: $blue;
    font-family: $fontPrimary;
}

main {
    color: #fff;
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
        margin-top: 0;
        font-size: calc(24px + (48 - 24) * (100vw - 100px) / (500 - 200));
        margin-bottom: 0.2em;
        font-weight: 100;
    }

    h2 {
        font-size: calc(24px + (48 - 24) * (100vw - 100px) / (2000 - 200));
        font-weight: 100;
    }

    a {
        color: #fff;
        font-size: calc(24px + (48 - 24) * (100vw - 100px) / (3000 - 200));
        transition: .1s color ease-in-out;

        &:hover {
            color: $lightGray;
        }
    }

}
