footer {
    padding: 64px 128px;
    background-color: #414141;
    color: #9d9d9d;
    font-family: 'Nunito', sans-serif;
    line-height: 1.4em;

    @media only screen and (max-width: 800px) {
        padding: 64px 5vw;
    }

    .links {
        // float: left;
        display: inline-block;

        a {
            display: inline-block;
            color: inherit;
            margin-right: 1em;
            transition: .1s color ease-in-out;
            text-decoration: underline;
        }

    }

    .copyright {
        display: block;
        float: right;

        @media only screen and (max-width: 600px) {
            display: inline-block;
            float: none;
        }
    }

    a:hover {
        color: lighten(#9d9d9d, 25%);
        cursor: pointer;
    }

}
