@import 'variables';

$height: 100vh;
$h2hfs: calc(24px + (48 - 24) * (100vw - 100px) / (4000 - 200));

header {

    background-image: url('../img/bicycle-1149483_1920_blur.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: block;
    position: absolute;
    height: $height;
    width: 100%;

    .header-content {
        display: block;
        transform: translateY(-50%);
        margin-top: calc(#{$height} / 2);
        margin-left: 10vw;
        font-family: $fontPrimary;

        h1 {
            color: $white;
            font-size: calc(24px + (48 - 24) * (100vw - 100px) / (500 - 200));
            text-decoration: none;
            margin: 10pt;
            font-weight: 100;
        }

        div {
            margin: 10pt;

            h2 {
                font-weight: 100;
                font-size: $h2hfs;
                display: inline;
                color: $white;
                line-height: 2em;
                margin: 0;
            }

            button {
                display: inline;
                margin: 0 10pt;
                font-size: $h2hfs;
                border: 1px solid $white;
                border-radius: 0.2em;
                color: $white;
                background: none;
                padding: 0.4em 1em;
                outline: none;
                transition: .1s background-color ease-in-out;
                font-family: $fontPrimary;
                cursor: pointer;

                &:hover {
                    background-color: $blue;
                    border-color: $blue;
                }

                &:active {
                    background-color: darken($blue, 10%);
                    border-color: darken($blue, 10%);
                }

            }

        }

    }

    .header-arrow {
        position: absolute;
        display: block;
        margin: auto;
        bottom: 1vh;
        width: 100%;

        @media only screen and (max-width: 500px) {
            bottom: 5vh;
        }

        img#arrow {
            display: block;
            margin: auto;
            margin-bottom: 0;
            margin-top: 0;
            cursor: pointer;
            transition: .1s margin-bottom ease-in-out, .1s margin-top ease-in-out;

            &:hover {
                margin-bottom: 1vh;
                margin-top: -1vh;
            }

        }

    }

}

// Github corner CSS
.github-corner {
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
    pointer-events: none;
}

.github-svg {
    fill: $white;
    color: $gray;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
}

.octo-triangle {
    pointer-events: auto;
}

.octo-arm {
    transform-origin: 130px 106px;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0);
    }

    20%,
    60% {
        transform: rotate(-25deg);
    }

    40%,
    80% {
        transform: rotate(10deg);
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
