/*!
 *  shoplistic.com
 */

@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'variables';

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

::selection {
    background-color: $lightGray;
    color: $white;
    opacity: 0;
}

@import 'header';
@import 'main';
